<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
</head>
<body>
  <form action="/query" method="get">
    <button type="submit" name="query" value="koreanFood">한식</button>
  </form>
  <form action="/query" method="get">
    <button type="submit" name="query" value="WesternFood">양식</button>
  </form>
  <form action="/query" method="get">
    <button type="submit" name="query" value="ChineseFood">중식</button>
  </form>
  <form action="/input" method="post">
    음식이름 : <input type="text" name="food_name" id="food_name">
    가격 : <input type="text" name="price" id="price">
    <input type="submit" value="등록">
  </form>
</body>
</html>